DOMAIN = dev.alexisonline.MetroBuddy
APP_GROUP_ID = group.$(DOMAIN)
SHORT_VERSION_STRING = 2.0.0
CURRENT_PROJECT_VERSION = 2003
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
IPHONEOS_DEPLOYMENT_TARGET = 13.0
SWIFT_VERSION = 5.0

// Workaround for iOS 14 beta stripping away widget
DEAD_CODE_STRIPPING = NO
